
{% load static %}
<html>
<head>
    <title> </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="d-flex mb-4 ml-4 mt-2 justify-content-between">
   <h1> MOVIES </h1>
<div class="mr-5 d-flex">
    <a class="btn btn-primary p-2 mr-3" href="/movie/add-movie">Add New Movie</a>
    <a class="btn btn-warning p-2 " href="/movie/fetch-movie">Fetch from imdb</a>
</div>
</div>

<ol>
    <div class="mb-2">
        <div class="d-flex justify-content-end mx-5">
            <select id="type" class="form-select" aria-label=".form-select-lg" name="lang_txt">
                 <option value="name" >Movie Name</option>
                <option value="director" >Director</option>
                <option value="genre">Genre</option>
                <option value="cast" >Cast Name</option>

            </select>
            <input id="type_val" type="text" name="value" class="ml-2" placeholder="Type here..">
            <button id="search-btn" class="btn btn-secondary p-2 ml-2" >Search</button>
            <script src="{% static 'script.js' %}"></script>
        </div>

    </div>
    <table class="table table-striped">
   <tr>
       <th>Id</th>
       <th>Title</th>
       <th>Thumbnail</th>
       <th>Year</th>
       <th>Genre</th>
       <th>Runtime</th>
       <th>Director</th>
       <th>Cast</th>
       <th>Producer</th>
       <th>Imdb ratings</th>



   </tr>
   {% for movie in movies %}
       <tr>
           <td>{{movie.id}}</td>
           <td><a href="{{ movie.imdb_url }}" target="_blank">{{movie.name}}</a></td>
           <td><img style="width:100px" src=" {{movie.thumbnail_url}}"/></td>
            <td>{{movie.year}}</td>
           <td>
               {{movie.genre}}
           </td>
           <td>{{movie.runtime}}</td>
           <td>
               {{movie.director}}
           </td>
           <td>
               {{movie.cast}}
           </td>
           <td>{{movie.producer}}</td>
           <td>{{movie.imdb_rating}}</td>

       </tr>
   {% endfor %}
</table>

</ol>
</body>
</html>
