<html lang="en">
$('input[name="email"]').change(function(){
  $('#regLink').attr('href')+$('input[name="email"]').val();
});
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="max-width:600px">
        <div class="d-flex px-3 py-3 pt-md-5 pb-md-4 text-center">
            <h1 class="display-4"> Add Movie</h1>
                <input id="movie_title" type="text" name="movie_title">
                <button onclick="send_value()" class="btn btn-warning p-2 " >Fetch from imdb</button>
            <script >
                function send_value(){
                     $.ajax({
                     url: 'movie/MovieLCapi/',
                     method : 'POST',
                     data: {quantity: $('#movie_title').val()},
                     beforeSend: function() {
                      // things to do before submit
                     },
                     success: function(response) {

                      alert(response)
                      }
                      });
}
            </script>
        </div>
        <div class="py-5">

    <div class="row">
                <div class="col-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>